*.meta
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Manipulators/Cursors/TimelineCursors.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Manipulators/AddDelete/IAddDeleteItemMode.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/CustomEditors/MarkerEditor.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/CustomEditors/CustomTimelineEditorCache.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/CustomEditors/ClipEditor.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/CurveEditUtility.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/ControlTrack/ControlPlayableAssetEditor.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Audio/AudioTrackInspector.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Audio/AudioPlayableAssetInspector.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Audio/AudioPlayableAssetEditor.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Audio/AudioClipPropertiesDrawer.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Attributes/ShortcutAttribute.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Attributes/MenuEntryAttribute.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Attributes/ActiveInModeAttribute.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Animation/TimelineAnimationUtilities.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Animation/CurvesProxy.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_playhead_select_menu.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_playhead_location.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_move_track_before.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_move_track_after.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_move_track_after copy.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_mix_mode_position_cursor.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_mix_mode_blend_arrow.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_match_prematch_scene.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_match_prematch_clips.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_match_clip_two.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_match_clip_many.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_masking_waving.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_masking_start.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_masking_override_selected.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_masking_override.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_masking_avatar_on.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.textmeshpro@2.0.1/Package Resources/TMP Examples & Extras.unitypackage
Point and Click VR UI Prototype/Library/Artifacts/db/dba89906217a24318cf8a2ddbaf2df32
Point and Click VR UI Prototype/Library/Artifacts/db/db949a8ffa21d8146b1bdd688dbfe623
Point and Click VR UI Prototype/Library/Artifacts/db/db2fd970092cfc3b62f5b3bfd59ff82f
Point and Click VR UI Prototype/Library/Artifacts/db/db2889a007f5de1f7948222d1fa56b1a
Point and Click VR UI Prototype/Library/Artifacts/db/db277559a926ee07b7681b6d455bce6a
Point and Click VR UI Prototype/Library/Artifacts/da/dadc98517b29006a43f5db83fef6d1a1
Point and Click VR UI Prototype/Library/Artifacts/da/dad728d1a07dcc35a8901cfffae31b69
Point and Click VR UI Prototype/Library/Artifacts/da/dacd357c7656a1af37b784a7826fec79
Point and Click VR UI Prototype/Library/Artifacts/da/dab8c1b0c0f473d975d685bc3e39d574
Point and Click VR UI Prototype/Library/Artifacts/da/dab18b1604eb7c568aa0ad620fd948e0
Point and Click VR UI Prototype/Library/Artifacts/da/daafdd2507ac5ce63477557634d44c58
Point and Click VR UI Prototype/Library/Artifacts/da/da918b777e0f62b671df27f8d6589530
Point and Click VR UI Prototype/Library/Artifacts/da/da7fb621329e2964aed54eb36b615407
Point and Click VR UI Prototype/Library/Artifacts/da/da7d6337e59f76089ec451b709395820
Point and Click VR UI Prototype/Library/Artifacts/da/da73989475bb0bd716290a2b173f51ff
Point and Click VR UI Prototype/Library/Artifacts/d9/d905e1a1a9bfc19736ceb7d2df919ab0
Point and Click VR UI Prototype/Library/Artifacts/d8/d8fbb115f51d75d68cc2cc704d7b9cfe
Point and Click VR UI Prototype/Library/Artifacts/d8/d8b05259e9a91df7f6d72b95f37309b7
Point and Click VR UI Prototype/Library/Artifacts/d8/d8960831c2b578f35d5b6e14e09b0c21
Point and Click VR UI Prototype/Library/Artifacts/d8/d89117be1e4fc7dd589d247a38172324
Point and Click VR UI Prototype/Library/Artifacts/d8/d84dac055e3514b727b83cb065dc5794
Point and Click VR UI Prototype/Library/Artifacts/d8/d843282513f362ef7630bb0f9e94bac3
Point and Click VR UI Prototype/Library/Artifacts/d8/d8217e4b808a91ec027ffd22c575a09d
Point and Click VR UI Prototype/Library/Artifacts/d8/d8214a10ddb57b7dffae58af93ab0f28
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/HandsTrainExample/Scripts/WindmillController.cs
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/HandsTrainExample/Scripts/WindmillBladesController.cs
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/HandsTrainExample/Scripts/Utils/Pose.cs
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/HandsTrainExample/Scripts/TrainTrack.cs
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/HandsTrainExample/Scripts/TrainLocomotive.cs
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/HandsTrainExample/Scripts/TrainCrossingController.cs
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/HandsTrainExample/Scripts/TrainCarBase.cs
Point and Click VR UI Prototype/Temp/UnityTempFile-60eb147110ed81543941a67884115dea
Point and Click VR UI Prototype/Temp/UnityTempFile-56f43491a7fa3b24c9de5e5045cf5aa1
Point and Click VR UI Prototype/Temp/UnityTempFile-2cf78746ea2cea3449c256132b64e369
Point and Click VR UI Prototype/Temp/UnityTempFile-12b89dd74a248ac4099fe4a11d932530
Point and Click VR UI Prototype/Temp/UnityLockfile
Point and Click VR UI Prototype/ProjectSettings/XRSettings.asset
Point and Click VR UI Prototype/ProjectSettings/VFXManager.asset
Point and Click VR UI Prototype/ProjectSettings/UnityConnectSettings.asset
Point and Click VR UI Prototype/ProjectSettings/TimeManager.asset
Point and Click VR UI Prototype/ProjectSettings/TagManager.asset
Point and Click VR UI Prototype/ProjectSettings/QualitySettings.asset
Point and Click VR UI Prototype/ProjectSettings/ProjectVersion.txt
Point and Click VR UI Prototype/ProjectSettings/ProjectSettings.asset
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Animation/CurveDataSource.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Animation/ClipCurveEditor.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Actions/ItemAction.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Actions/ClipsActions.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/wf_rec_anim.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/wf_nested.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/wf_mask.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/wf_instance.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/wf_conv_infinite.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/wf_char_anim.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/wf_about.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/trk_select.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/trk_reorder.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/trk_mute.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/trk_lock.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/trk_list_about.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_masking_avatar_off.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_masking_avatar_inspector.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_inspector_animation_track.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_inspector_animation_clip_playable.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_inspector_animation_clip_common.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_inspector_animation_clip.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_inspector_anim_extrap.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_inspector_activation_track.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_inspector_activation_clip.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_humanoid_start.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_humanoid_runleft.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_humanoid_match_menu.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_humanoid_manual.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_humanoid_idle.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_humanoid_blend.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_humanoid_before_match.png
Point and Click VR UI Prototype/Library/Artifacts/da/da4457037c178b5ba11db7c6b9d9d8b3
Point and Click VR UI Prototype/Library/Artifacts/da/da384d32bbee294d6122bd63f670e552
Point and Click VR UI Prototype/Library/Artifacts/da/da2a31c78b1cebf5a6581e5584b3c59d
Point and Click VR UI Prototype/Library/Artifacts/da/da1dc23b44de0af77b3cdada305d97da
Point and Click VR UI Prototype/Library/Artifacts/d9/d9eae3458ab1de563a7b56bcb7f463ca
Point and Click VR UI Prototype/Library/Artifacts/d9/d9e77d23652198c587765530e4094f6c
Point and Click VR UI Prototype/Library/Artifacts/d9/d9ba16409ac3b7751ac9850377185ab5
Point and Click VR UI Prototype/Library/Artifacts/d9/d99681a12ea2f0bbb523bd9e55267902
Point and Click VR UI Prototype/Library/Artifacts/d9/d98fc1c4de6a43f913db6d9d97cedbdd
Point and Click VR UI Prototype/Library/Artifacts/d9/d961b089723bb8f6aa52f7cd8d172988
Point and Click VR UI Prototype/Library/Artifacts/d9/d953b85522b6a02dd655d03e70e5c1ca
Point and Click VR UI Prototype/Library/Artifacts/d9/d947e442d7d4387970d586e7749d4fc0
Point and Click VR UI Prototype/Library/Artifacts/d9/d933de1dbf810fc4ec1792c446ef883f
Point and Click VR UI Prototype/Library/Artifacts/d9/d920de482a55526f8ab4d322e0601981
Point and Click VR UI Prototype/Library/Artifacts/d9/d91c3d6df3364f5b890a38d758507fdb
Point and Click VR UI Prototype/Library/Artifacts/d9/d90d207451d19c67e4889cfcea1cc7b8
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/HandsTrainExample/Scripts/TrainCar.cs
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/HandsTrainExample/Scripts/TrainButtonVisualController.cs
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/HandsTrainExample/Scripts/TrackSegment.cs
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/HandsTrainExample/Scripts/SelectionCylinder.cs
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/HandsTrainExample/Scripts/PanelHMDFollower.cs
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/HandsTrainExample/Scripts/HandsActiveChecker.cs
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/HandsTrainExample/Scripts/CowController.cs
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/HandsTrainExample/Scripts/ControllerBoxController.cs
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/HandsTrainExample/Prefabs/XingPost.prefab
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/GuardianBoundarySystem/Materials/GroundMat.mat
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/GuardianBoundarySystem/Materials/DebugDrawLine.mat
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/GuardianBoundarySystem.unity
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/DistanceGrab/SkyboxMat.mat
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/DistanceGrab/Scripts/DistanceGrabberSample.cs
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/DistanceGrab/Prefabs/OutlineItems/ToyT-BlockPf.prefab
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/DistanceGrab/Prefabs/OutlineItems/DistanceGrabWoodBlockPf.prefab
Point and Click VR UI Prototype/Library/ShaderCache/f/fbc16f27c2785451ed1640332fd33b92.bin
Point and Click VR UI Prototype/Library/ShaderCache/f/fb0f3e50421caa4dc835496bdf3f3982.bin
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Manipulators/Sequence/RectangleZoom.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Manipulators/Sequence/RectangleTool.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Manipulators/Sequence/RectangleSelect.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Manipulators/Sequence/MarkerHeaderContextMenu.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Manipulators/Sequence/Jog.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Manipulators/Sequence/EaseClip.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Manipulators/Move/MovingItems.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Manipulators/Move/MoveItemModeRipple.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Manipulators/Move/MoveItemModeReplace.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Manipulators/Move/MoveItemModeMix.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Manipulators/Move/MoveItemHandler.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Manipulators/Move/IMoveItemMode.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Manipulators/EditModeInputHandler.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Editor/Manipulators/EditMode.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_workflow_recording_diamonds.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_workflow_recording.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_track_group_add.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_track_duplicate.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_track_alert_icon.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_start_button.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_splash.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_ripple_mode_yellow_arrow.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_ripple_mode.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_replace_mode_red_cut.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_replace_mode.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_property_red.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_previous_frame_button.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_preview_selector.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_playhead_trim_before.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_playhead_trim_after.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clip_trim_start_keys.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clip_trim_loop.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clip_trim_end_keys.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clip_split_before.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clip_split_after.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clip_ease_in_override_track.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clip_ease_in_override_scene.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clip_ease_in_out.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clip_ease_in_good_gap.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clip_ease_in_bad_gap.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.textmeshpro@2.0.1/Scripts/Editor/GlyphRectPropertyDrawer.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.textmeshpro@2.0.1/Scripts/Editor/GlyphMetricsPropertyDrawer.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.textmeshpro@2.0.1/Scripts/Editor/GlyphInfoDrawer.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.textmeshpro@2.0.1/Scripts/Editor/DropdownOptionListDrawer.cs
Point and Click VR UI Prototype/Library/PackageCache/com.unity.textmeshpro@2.0.1/PackageConversionData_Assets.json
Point and Click VR UI Prototype/Library/PackageCache/com.unity.textmeshpro@2.0.1/PackageConversionData.json
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/DistanceGrab/Prefabs/OutlineItems/DistanceGrabSoccerBallPf.prefab
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/DistanceGrab/Prefabs/OutlineItems/DistanceGrabOculusWaterBottlePf.prefab
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/DistanceGrab/Prefabs/OutlineItems/DistanceGrabCubeCrosshair.prefab
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/DistanceGrab/Prefabs/OutlineItems/DistanceGrabBillardBall10Pf.prefab
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/DistanceGrab/Prefabs/OutlineItems/DistanceGrabBillardBall03Pf.prefab
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/DistanceGrab/Prefabs/GrabOffsetsAndPoses/GrabOffsetSportsBottle.prefab
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/DistanceGrab/Prefabs/GrabOffsetsAndPoses/GrabOffsetPingPongBall.prefab
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/DistanceGrab/Prefabs/DistanceGrabSquirtGunPf.prefab
Point and Click VR UI Prototype/Assets/Oculus/SampleFramework/Usage/DistanceGrab/PhysicsMaterials/RubberPhysMat.physicMaterial
Point and Click VR UI Prototype/ProjectSettings/PresetManager.asset
Point and Click VR UI Prototype/ProjectSettings/Physics2DSettings.asset
Point and Click VR UI Prototype/ProjectSettings/NavMeshAreas.asset
Point and Click VR UI Prototype/Library/shadercompiler-UnityShaderCompiler.exe1.log
Point and Click VR UI Prototype/Library/shadercompiler-UnityShaderCompiler.exe0.log
Point and Click VR UI Prototype/Library/expandedItems
Point and Click VR UI Prototype/Library/Style.catalog
Point and Click VR UI Prototype/Library/StateCache/SceneView/0f77dc-mainStage.json
Point and Click VR UI Prototype/Library/StateCache/LayerSettings/LayerSettings.json
Point and Click VR UI Prototype/Library/StateCache/Hierarchy/e0991d-mainStage.json
Point and Click VR UI Prototype/Library/SpriteAtlasDatabase.asset
Point and Click VR UI Prototype/Library/SourceAssetDB-lock
Point and Click VR UI Prototype/Library/SourceAssetDB
Point and Click VR UI Prototype/Library/ShaderCache/f/ffd2d013f23b4b01f44f904f5493d57a.bin
Point and Click VR UI Prototype/Library/ShaderCache/f/ff8358f880b917d1529a4117ba81901a.bin
Point and Click VR UI Prototype/Library/ShaderCache/f/ff3247ff3bd27b6d793f4f59664b7b31.bin
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/trk_dup.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/trk_delete.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/insp_clp_anim_com.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/insp_clp_act.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/insp_clp.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/insp_about.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/index.md
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/workflow_nesting_master.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/workflow_nesting_edit_warning.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/workflow_nesting_drag_board.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/workflow_nesting_double_click.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/workflow_nesting_done.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/workflow_nesting_control_disabled.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/workflow_inspector_animation_clip_playable.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_zoomed_clip_edit_modes.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_zoombar.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_humanoid_after_match.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_gap_extrap_two_tracks.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clips_view_inserting_before.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clips_view_inserting_after.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clips_view_adding.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clips_view.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clips_tile_selection.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clips_tile_result.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clips_split_before.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clips_split_after.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clips_select_last.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clips_select_first.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clips_positioning.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clips_position_invalid.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clips_arrows.png
Point and Click VR UI Prototype/Library/PackageCache/com.unity.timeline@1.2.15/Documentation~/images/timeline_clips_anim_clip_timing.png
Point and Click VR UI Prototype/Temp/
Point and Click VR UI Prototype/obj/Debug/
Point and Click VR UI Prototype/Library/Artifacts/
Point and Click VR UI Prototype/Oculus.VR.Scripts.Editor.csproj
Point and Click VR UI Prototype/Oculus.VR.Editor.csproj
Point and Click VR UI Prototype/Assembly-CSharp.csproj
Point and Click VR UI Prototype/Assembly-CSharp-Editor.csproj
Point and Click VR UI Prototype/.vs/Point and Click VR UI Prototype/v15/Server/sqlite3/storage.ide
Point and Click VR UI Prototype/.vs/Point and Click VR UI Prototype/v15/Server/sqlite3/db.lock
Point and Click VR UI Prototype/.vs/Point and Click VR UI Prototype/v15/.suo
Point and Click VR UI Prototype/Point and Click VR UI Prototype.sln
Point and Click VR UI Prototype/Oculus.VR.csproj
Point and Click VR UI Prototype/.vs/Point and Click VR UI Prototype/v15/Server/sqlite3/storage.ide-wal
Point and Click VR UI Prototype/.vs/Point and Click VR UI Prototype/v15/Server/sqlite3/storage.ide-shm
